{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" style="text/css" href="/assets/css/references.css"/>
{% endblock %}

{% block banner %}
  <h1>Références</h1>
{% endblock banner %}

{% block body %}

  <div class="container text-center" id="clients">

    <div class="row ">
      <div class="col">
        <h4>Ils font partie de nos clients</h4><br>
      </div>
    </div>

    <!-- bloc client -->
    <div class="row">

      <div class="col">

        <p>ADAPEI 88</p>

        <a href="http://adapei88.fr/">
          <img src="../../assets/images/clients/adapei88.jpg" alt="Association adapai88">
        </a>

      </div>

      <div class="col">

        <p>AEIM54</p>

        <a href="http://www.aeim54.fr/">
          <img src="../../assets/images/clients/aeim54.jpg" alt="Association AEIM54">
        </a>

      </div>

      <div class="col">

        <p>Agence Immobilière de la Ravinelle</p>

        <a href="http://www.immoravi.com/">
         <img src="../../assets/images/clients/immoravi.jpg" alt="immoravi">
        </a>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <p>CMSEA</p>

        <a href="https://www.cmsea.asso.fr/">
         <img src="../../assets/images/clients/cmsea.jpg" alt="Association CMSEA">
        </a>

      </div>

      <div class="col">

        <p>Les Papillons Blancs</p>

        <a href="https://pbesl.fr/">
          <img src="../../assets/images/clients/pbesl.jpg" alt="Les Papillons Blancs">
        </a>

      </div>

      <div class="col">

        <p>YSOS</p>

        <a href="http://www.ysos.fr/">
          <img src="../../assets/images/clients/ysos.jpg" alt="ysos">
        </a>

      </div>

    </div>

  </div>
  <!-- fin bloc client -->

  <!-- bloc partenaire -->
  <div class="container" id="partenaires">

    <h4>Nos partenaires</h4>

    <div class="row justify-content-between align-items-center">

      <div class="col-md">

        <a href="https://www.hp.com/fr" target="_blank" id="hp">
          <img src="../../assets/images/partenaires/hp.png"
          alt="HP">
        </a>

      </div>

      <div class="col-md">

        <a href="https://www.ibm.com/fr" target="_blank">
          <img src="../../assets/images/partenaires/ibm.png"
          alt="IBM">
        </a>

      </div>

      <div class="col-md">
        <a href="https://www.intel.fr" target="_blank">
          <img src="../../assets/images/partenaires/intel.png"
          alt="Intel">
        </a>
      </div>

      <div class="col-md">

        <a href="http://www.libertech.fr" target="_blank">
          <img src="../../assets/images/partenaires/libertech.png"
          alt="Libertech">
        </a>

      </div>

      <div class="col-md">

        <a href="https://www.microsoft.com/fr-fr" target="_blank" id="ms">
          <img src="../../assets/images/partenaires/microsoft.png"
          alt="Microsoft">
        </a>

      </div>

      <div class="col-md">

        <a href="https://www.mysql.com/fr/" target="_blank">
          <img src="../../assets/images/partenaires/mysql.png"
          alt="MySQL">
        </a>

      </div>

      <div class="col-md">

        <a href="https://www.oracle.com/fr/index.html" target="_blank">
          <img src="../../assets/images/partenaires/oracle.png"
          alt="Oracle">
        </a>

      </div>

      <div class="col-md">

        <a href="https://www.php.net/" target="_blank">
          <img src="../../assets/images/partenaires/php.png"
          alt="PHP">
        </a>

      </div>

      <div class="col-md">

        <a href="http://www.proget.fr/" target="_blank">
          <img src="../../assets/images/partenaires/proget.png"
          alt="Pro'Get EVR">
        </a>

      </div>

      <div class="col-md">

        <a href="https://www.trendmicro.com/fr_fr" target="_blank">
          <img src="../../assets/images/partenaires/trendMicro.png"
          alt="trendMicro">
        </a>

      </div>

    </div>

  </div>
  <!--fin bloc partenaire -->

{% endblock body %}

