{# Projet de stage help info, conceptions des modules #}
{# Abeauzit-Tahiri Alexandre al.atahiri@gmail.com#}
{# Mars 2021 - Mai 2021 #}

{# Page de confirmation d'email, avec invite de cliquer sur le lien #}
{% extends "base.html.twig" %}

{% block title %}Réinitialisation de mot de passe envoyé
{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=""{{ asset ('css/reset.css')}}>
{% endblock %}

{% block banner %}<h1>Réinitialisation de mot de passe envoyé</h1>
{% endblock %}


{% block body %}
    <p>
        Un email a été envoyé, contenant un lien que vous pouvez cliquer afin de réinitialiser votre mot de passe.
        Ce lien expirera dans <em style ="font-weight: bold;">{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</em>
    </p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier dans votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
