.content .container {
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.125);

  background-color: white;

  padding-top: 20px;
  padding-bottom: 20px;
}

.content img{
  height: auto;
  width: 90%;
  border-radius: 8px;
  margin-left: 10px;
}

/* Css pour I.E 10 & 11 permet de coller le footer au bas de la page */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #footer{
    margin-top: 153px;
  }
}

/* responsive css */
@media screen and (max-width: 992px){

  #stan {
    text-align: center;
    margin-bottom: 20px;
  }

  /*supprime la marge dans les onglets pour permettre aux images
   de prendre la largueur du bloc sur mobile*/
  .content img{
    margin-left: unset;
  }

}

.card {
  border: none;
}