/* titre article RSS */
b{
  font-family:  arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
}

#rubrique{
  text-align: center;
  color: #007bff;
  background-color: white;

  border: 1px solid rgba(0,0,0,.125);
  border-radius: 20px;

  padding: 15px;
  margin-bottom: 25px;
}

.card{
  margin-bottom: 20px;
}


.boutons{
  text-align: center;
}

@media screen and (max-width: 992px) {

  .card{
    margin-bottom: 15px;
  }

  .card-title{
    text-align: unset;
  }

  .card-body p{
    text-align: justify;
  }

  .jumbotron{
    margin-bottom: 20px;
  }

  #rubrique{
    text-align: center;
    margin-top: 15px;
  }

}
