
.btn{
  margin-bottom: 20px;
}

#telephone{
  padding-top: 5px;
}

h3{
  text-decoration: underline;
  margin-bottom: 25px;
}

h5{
  padding-top: 15px;
  padding-bottom: 15px;
}

.content .container{
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.125);
  background-color: white;
}

/* ligne de séparation visible uniquement sur mobile
 pour eviter la confusion entre teamviwer et anydesk pour l'utilisateur*/
#hrHoriz{
  visibility: hidden;
}

.content #tel{
  color: black;
}


@media screen and (max-width: 992px) {

  /* désactive les liens de telechargements des logiciels pour mobiles */
  #teamviewer, #anydesk{
    pointer-events: none;
    cursor: not-allowed;
    border-color: #6c757d;
    background-color: #6c757d;
  }

}

@media screen and (max-width: 768px) {

  h5{
    padding-bottom: unset;
  }

  #hrHoriz{
    visibility: visible;
  }

  .content .container{
    padding-bottom: 15px;
  }

}
