/* -------------------------------
--------VUE en MOBILE-FIRST-------
---------------------------------- */
#container {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: white;

    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    font-size: 0.875em;
}

.intro-banner {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-areas:
        "titre pourcent"
        "titre pages";
}


.titre {
    grid-area: titre;
}

.pourcent {
    grid-area: pourcent;
    justify-self: right;
}

.pages {
    grid-area: pages;
    justify-self: right;
}

.bloc-page {
    margin-bottom: 3vh;
    padding: 2em;
}

.bloc-image img {
    width: 355px;
    margin: 0;
}






.pagination-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0 !important;
    /* aligne le bloc de pagniation avec le bloc du contenu du dessus */

}

/* ajouter 23mars pour la page intro et page contenu */