{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block banner %}
    <h1>Interface Administrateur</h1>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ajouter un nouveau MODULE</h5>
        <p class="card-text">Ce lien vous envoie sur le formulaire de création d'un module, il sera ensuite ajouté automatiquement à la base de données.</p>
        <a href="{{ path ('admin_modules')}}" class="btn btn-primary">Ajouter un module</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gérer la/les PAGE(E) d'un module existant</h5>
        <p class="card-text">Ce lien vous envoie sur le formulaire de création d'une page d'un module déjà existant, elle sera ensuite ajouté automatiquement à la base de données.</p>
        <a href="{{ path ('admin_page-module')}}" class="btn btn-primary">Gestion des pages module</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
