{#----------------------
--------Page d'un MODULE--------
--------------------------------------- #}
{% extends "basehi.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/intro.css">
{% endblock %}

{% block banner %}
	<h1>Titre module BdD</h1>
{% endblock %}

{% block body %}

	<div class="container">
		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path ('modules')}}">Modules</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page"></li>
			</ol>
		</nav>
		<div class="intro-banner">
			<h2>Mon titre du module BdD</h2>
			<span class="pourcent">ici %!</span>
			<span class="pages">ici nb pages</span>
		</div>
		<div class="intro-text">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum et ipsa tempora adipisci cum! Laborum numquam, soluta, architecto neque, iste reprehenderit deleniti illo qui nisi voluptatum aliquam veniam labore molestias.</p>
			<span class="image-intro"></span>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis omnis nulla quisquam alias quo. Recusandae, quaerat. Tempora suscipit autem minus! Aspernatur reiciendis ea assumenda et, natus mollitia aut rem nisi.</p>
			<a href="{{ path ('contenu')}}" class="button-intro btn btn-primary">Commencer le cours</a>
		</div>
	</div>


{% endblock %}
