{# 
Ici page des modules > une fois connecté 
#}
{% extends "basehi.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/modules.css">
{% endblock %}

{% block banner %}
	<h1>Modules</h1>
{% endblock %}

{% block body %}
	<div class="container px-4">
		<div class="d-grid gap-3 bloc-modules">
			{% for module in modules %}
				<a href="{{ path ('page', {'id': module.id}) }}">
					<div class="p-2 bg-light border module-card">
						<h3 class="type-module">Modules Get-MS</h3>
						<h2 class="title-module">{{ module.titre }}</h2>
						<span class="pourcent">ici % !</span>
						<span class="pages-module">{{ module.nbPages }}
							pages</span>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
