{% extends 'basehi.html.twig' %}

{% block title %}Ajouter une page à un Module{% endblock %}

{% block banner %}
    <h1>Interface Administrateur</h1>
{% endblock %}

{% block body %}
    <h1>Ajouter une page à un Module</h1>
    {{form(form)}}
{% endblock %}